* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Arial,sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -.2px;
  background-color: #EEF0F3;
}

body, a, div, h1, h2, h3, header, footer, li, table, tr, td, tbody {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  z-index: 1000;
  gap: 40px;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  padding: 3px 10px;
  background-color: #fff;
  text-align: center;
  color: black;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.buttons {
  display: flex;
  gap: 20px;
}

.buttons > a:first-of-type {
  color: #1769ff;
  background-color: white;
}

.buttons > a {
  white-space: nowrap;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 800;
  border-radius: 5px;
  background-color: #1769ff;
  color: #fff;
  text-decoration: none;
}

.table_container {
  overflow: auto;
}

main {
  background-color: #fff;
  width: 85%;
  border: 1px solid rgba(23,105,255, 0.5);
  padding: 20px;
  border-radius: 42px;
  overflow: hidden;
  margin: 15px auto;
}

.games_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.game {
  grid-column: span 1;
  border-radius: 6px;
  border: 1px solid #ebbe7d;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 66px -10px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 10px 10px 66px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 10px 10px 66px -10px rgba(0, 0, 0, 0.55);
}

.game_img img {
  transition: all .2s ease-in-out;
  object-fit: cover;
  width: -webkit-fill-available;
  height: 215px;
  transition-delay: .1s;
  border-radius: 0px;
}

.game_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.game_title {
  z-index: 1;
  font-size: 13px !important;
  color: #fff !important;
  height: auto !important;
  margin-top: 0px !important;
  margin-bottom: 0;
  padding: 6px;
  background-color: #242424;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.games_overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  transition: .2s;
  height: 100%;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  backdrop-filter: blur(4px);
}

.game:hover .games_overlay { opacity: 1; }

.game:hover .game_img img { transform: scale(1.2); }

.btn-svg svg {
  fill: #fff;
  width: 40px;
  height: 40px;
}

.btn {
  text-align: center;
  cursor: pointer;
  transition: .2s;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  font-weight: 700;
}

.btn-svg {
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
  border: 3px solid #fff!important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff19;
}

.providers {
  width: 50%;
}

footer {
  margin-top: 30px;
  background-color: black;
  padding: 32px 0;
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  gap: 30px;
}

footer > div > div {
  width: 85%;
  margin: 0 auto;
  color: #fff;
}

footer p {
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer_icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  margin: 0 10px;
}

.footer_icon {
  height: 40px;
}

.BGA {
  height: 25px;
}

.links {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.footer_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo_container {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo_container > a {
  display: flex;
  height: 48px;
  text-decoration: none;
}

main > div:first-of-type {
  border-bottom: 1px solid #ed1c24;
}

.center_image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  width: 60%;
}

section:first-of-type {
  padding: 0px;
}

h1 {
  color: rgb(23,105,255);
  text-align: center;
}

p {
  color: black;
}

h2, h3, h4 {
  color: rgb(23,105,255);;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1.2px;
}

main a {
  color: rgb(23,105,255) ;
}

table {
  display: block;
  margin: 15px auto;
  border-collapse: collapse;
  width: fit-content;
  min-width: 450px;
}

tbody {
  width: 100%; 
}

main img {
  border-radius: 30px;
}

table td {
  border: 1px solid #fff;
  padding: 10px;
  color: black;
  vertical-align: middle;
}

table tr:nth-child(2n+1), .table tr:nth-child(2n+1) {
  background-color: #eef0f3;
}

td:first-of-type {
  text-align: center;
}

strong {
  color: rgb(23,105,255) ;
}

td > p {
  margin: 0;
}

li {
  color: black;
}

.image_container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}


.questions-title {
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin-top: 60px;
  margin-bottom: 30px;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin-top: 16px;
}

.select {
  background: #eef0f3;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #eef0f3 solid;
  border-radius: 0.5em;
  padding: 12px 16px;
  cursor: pointer;
}

.selected {
  font-size: 18px;
  font-weight: 500;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  border: 1px #eef0f3 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  top: 3em;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  margin-top: 16px;
}

.menu li {
  padding: 12px 16px;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-open {
  display: block;
  padding-left: 0;
  opacity: 1;
  color: #fff;
  background-color: #eef0f3;
  opacity: 0.8;
}

.dropdown__element {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.dropdown--last {
  margin-bottom: 93px;
}

footer > div {
  text-align: center;
}

.logo_container > a > span {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1,1);
  } 50% {
    transform: scale(1.2,1.2);
  }
}

@media (max-width: 1200px) {
  .games_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .game_img img {
    height: 150px;
  }
}

@media (max-width: 1024px) {
  .dropdown {
    width: auto;
    margin-left: 0;
  }

  .games_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .providers {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .homepage {
    width: 100%;
  }
}


@media (max-width: 720px) {
  header > div {
    flex-direction: column;
  }

  .center_image {
    width: 100%;
  }

  .image_container {
    flex-direction: column;
  }

  .dropdown {
    width: calc(100% - 32px);
    margin-left: 16px;
  }

  .select {
    gap: 10px;
  }

  .menu li, .selected {
    font-size: 13px;
  }

  .games_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  main, header > div {
    width: 93%;
  }

  .footer_icons {
    gap: 20px ;
  }

  .footer_icon {
    height: 30px;
  }

  .footer_icons {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .game_img img {
    height: 100px;
  }
}